
.conteiner{
    position: fixed;
    z-index: 1000;
    width: 40vw;
    height: 100vh;
    display: flex;
    margin-right: auto; /* Empurra o contêiner para a direita */

    align-items: center;
    justify-content: center;
    background-color: var(--color-cards);

}

.welcome{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 18px;
  color: var(--text-main-color);
}

.name{
  margin-top: -15px;
  margin-bottom: -15px;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: var(--text-main-color);
}

.email{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 22px;
  color: var(--text-main-color);
  margin-bottom: -1px;
}


.myaccount {
    text-align: center;     
}

.button{
    background-color: transparent;
    color: white;
    border: 1px solid #FF493B;
    border-radius: 15px;
    padding: 08px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
  }

  .button:hover {
    background-color: #FF493B;
    color: white; 
    transform: scale(1.05); 
}