@import 'colors.css';  


.App {
  width: 100%;
  height:100vh;
  text-align: center;
  background-color: var(--main-color)
}


.App-header {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: center;
  justify-content: center;
  color: var(--tertiary-color);
}

.App-search-component {
  display: flex;
  width: 65%;
  font-size: calc(10px + 2vmin);
  border: solid 1px var(--secundary-color);
  border-radius: 100px;
  color: var(--secundary-color);
  border-color: var(--secundary-color);
  background-color: var(--main-color);
  margin: 15px;
  padding: 0;
}

.App-search-box {
  display: flex;
  width: 80%;
  font-size: calc(10px + 2vmin);
  border: none;
  outline: none;
  color: var(--tertiary-color);
  background-color: var(--main-color);
  padding: 0;
}

.App-button{
  display: flex;
  width: 15vw;
  align-self:auto;
  justify-content: center;
  background-color: var(--main-color);
  border: solid 1px var(--secundary-color);
  border-radius: 100px;
  color: var(--tertiary-color);
  font-size: 2vw;
  padding: 0.2rem;
  margin: 10px;
  cursor: pointer;

}

.App-side-bar{
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: flex-end;
  width: 5vw;
  margin: 5px;
}
.App-side-icon{
  margin: 8px;
  max-width: 100%;
  height: auto;
}

.App-title {
  background-color: var(--main-color);
  width: 70%;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: left;
  font-size: calc(0.08*100vw);
  color: var(--secundary-color);
  margin-top: 10vh;
  margin-bottom: 0;
}

.App-link {
  color: #61dafb;
}

.App-anim-span {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-anim-span {
    animation: App-logo-spin infinite 1.5s linear;
  }
}

@keyframes App-logo-spin {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  33% {
    opacity: 100%;
    transform: translateY(0);
  }
  66% {
    opacity: 100%;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}


.App-search-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color:var(--tertiary-color);
}