/* src/pages/Guide.css */

.guide-container{
  width: 97vw;
  display: flex;
  justify-content: center;
}

#icon-back{
  color: var(--secundary-color);
  position: absolute;
  margin-top: 30px;
  cursor: pointer;
}
.main-container {
  width: 70%;
  justify-content: center;
}

.search-container {
  /*background-color: lightblue;*/
  height: 200px;
}
/*
.title-container {
  background-color: chartreuse;
}
*/

.guide-description{
  text-align: center;
  text-justify: center;
  font-weight: normal;
  margin-bottom: 50px;
}

/*
.content-container{
  background-color: violet;
}
*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    /*background-color: gainsboro;*/
    margin: 0;
    align-items: center; /* Centraliza os itens verticalmente */
  }

.title-container{
  margin-top: 100px;
}