@import '../../styles/colors.css';  

.container-new-guide{
    position: fixed;
    display: flex;
    width:100vw;
    height: 100vh;
    background-color: rgba(33, 42, 52, 0.8);
    z-index: 1000;
}


.main-new-guide{
    display: flex; 
    justify-content: center;
    margin: auto;
    width: 60%;
    height: 550px;
    border-radius: 20px;
    background-color: var(--color-cards);
}

#icon-close{
    color:var(--secundary-color);
    padding: 10px;
}
.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 20px;

}


#animation{
    font-size: 100px;
}

.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 20px;

    
}

.content-right{
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 95%;
    
}

.fields-container{
    width: 80%;
    height: 90%;
}

.fields-container form{
    display:flex;
    flex-direction: column;
}

.title-field{
    padding-top:15px;
    padding-bottom: 5px;
}

.description-form{
    border-radius: 10px;
    box-sizing: border-box; /* Inclui padding na largura e altura */
    align-items: stretch; /* Garante que o form ocupe toda a altura */
    resize: none;
    overflow: hidden;
    padding: 10px;
    background-color: transparent;
    height: 200px;
    border:1px solid var(--text-main-color);
    color: var(--text-main-color);


}

.form-input{
    background-color: transparent;
    border:1px solid var(--text-main-color);
    border-radius: 5px;
    height:30px;
    width:80%;
    color:var(--text-main-color);
    padding-left: 10px;
}

.button-container{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.button-new-guide-screen{
    height: 40px;
    width: 80%;
    background-color:  var(--secundary-color);
    border-color: var(--secundary-color);
    border-radius: 5px;
}
#icon-new-guide-screen{
    font-size: 20px;
    color: var(--text-main-color);
}